*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgb(211, 235, 91);
}
h1{
    height: 60px;
    background-color: black;
    color: aqua;
    /* text-align: center; */
    text-transform:uppercase ;
    border-radius: 1rem;
    line-height: 4rem;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
}
.choice:hover {
    opacity: 50%;
    background-color: #081b31;
    cursor: pointer;
}
#rock{
    background-image: url("rock.png");
    background-size: cover;
}
#paper{
    background-image: url("paper.jpeg");
    background-size: cover;
}
#scissors{
    background-image: url("seser.jpeg");
    background-size: cover;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
    color: black;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.message-cont{
    margin-top: 5rem;
    background-color: #081b31;
    color: aliceblue;
    font-size: 2rem;
    display: inline-block;
    border-radius: 0.5rem;
}